@model AppWebProductosCF.Models.Producto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <div class="app flex-row align-items-lg-start">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card mx-4">
                        <div class="card-body p-4">
                            <h1>Categorias</h1>
                            <p class="text-muted">Creación de categorias</p>
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Codigo)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Codigo)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Nombre)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Precio_venta)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Precio_venta)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Stock)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Stock)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Descripcion)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Descripcion)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Estado)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Estado)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Categoria)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Categoria.Nombre)
                                </dd>
                            </dl>
                        </div>
                        
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
